<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Finish Survey</title>
   </head>
   <body>
      <h1>Game's for you</h1>
      <% websiteAnswers %>

      <ul>
         <% var randoms = []; %> <% for (var i=0; i <websiteAnswers.length/2; i++) { %> <% var randNum = Math.floor(Math.random()
         *websiteAnswers.length) %> <% if(randoms.includes(randNum)) {continue;} %> <% randoms.push(randNum); %>

         <li><%= websiteAnswers[randNum] %></li>
         <% } %>
      </ul>
   </body>
</html>
