<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Finish Survey</title>
   </head>
   <body>
      
      <nav class="navbar">
         <a><img src="/logo.png" class="logo" width="50" height="50" /></a>
      </nav>
      <h1>Suggested Games for you</h1>
      <ol>
         <% for(var i=0; i<userRecommendations.length; i++) { %>
             <li >
                <h3><%= userRecommendations[i] %></h3>
                 
             </li>
         <% } %>
         <form action="/users/aftersurvey" method="POST">
            <button type="submit" name="mygames" value="<%=userRecommendations%>" >DashBoard</button>
         </form>
     </ol>
   </body>
</html>
